name: GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *" # Every day at midnight
  workflow_dispatch: # Allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: AlexandreHagen
          BRANCH_NAME: main
          UTC_OFFSET: 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
